.#{$namespace}sakai-dropbox {
    .recentItem{
        padding: 2px;
        position: relative;
        &::after{
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 16px;
            background-color: yellow;
            z-index: 1;
            margin: -2px 0 0 -5px;
            position: absolute;
            border: 1px solid rgba(#de9613, 0.5);
        }
    }

    .recentItemInstruction {
        padding: 0 5px;
        position: relative;
        &::after {
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 16px;
            background-color: yellow;
            z-index: 1;
            margin: 8px 0 0 -5px;
            position: absolute;
            border: 1px solid rgba(#de9613, 0.5);
        }
    }

    .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
    }
}