@if $swapped-view-enabled {
	.#{$namespace}portalWrapper{
		color: $swapped-view-text-color;
		&.swapped-view{
			filter: grayscale(0.5);
			#topnav_container {
				background: $swapped-view-primary;
			}
			.#{$namespace}siteHierarchy{
				//background: red;
				//color: $background-color;
				a {
					color: $background-color;
				}
			}
			.#{$namespace}mainHeader.is-maximized .siteNavWrap{
				background: $swapped-view-sites-nav-background;
			}
		}
	}
}